apiVersion: apps/v1
kind: Deployment

metadata:
  name: cicd-app

spec:
  replicas: 2

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1

  selector:
    matchLabels:
      app: cicd

  template:
    metadata:
      labels:
        app: cicd

    spec:
      containers:
      - name: cicd-container
        image: cicd-demo:latest
        ports:
        - containerPort: 5000

        readinessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 10
          periodSeconds: 5

        livenessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 15
          periodSeconds: 10

